<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.db.entity.Account">
	<insert id="insertAccount" parameterType="Account">
		INSERT INTO db_account VALUES (#{id}, #{pay}, #{money}, #{payTime}, #{purpose}, #{place})
	</insert>
	<select id="selectById" resultType="Account">
		SELECT
			u_id   id,
			is_pay isPay,
			money money,
			pay_time payTime,
			purpose purpose,
			place place
		FROM db_account
		WHERE u_id = #{id}
	</select>

	<select id="selectAll" resultType="Account">
		SELECT
			u_id   id,
			is_pay isPay,
			money money,
			pay_time payTime,
			purpose purpose,
			place place
		FROM db_account
	</select>

</mapper>